node_modules
*.blp
*.dbc
*.m2
*.wmo
*.skin
*.anim
*.phys
*.bone
*.skel
build/
tsconfig.json
symlinked
bin/
coredata/database/
coredata/datasets/default/maps/
coredata/datasets/default/vmaps/
coredata/datasets/default/dbc/
coredata/datasets/default/luaxml/
coredata/luaxml/
coredata/realms/tswow/Crashes/
coredata/authserver/
coredata/datasets/
coredata/luaxml_source/
coredata/mysql/
coredata/mysql_plain/
